<section>
  <header>
    <h2 class="mat-headline">Watch History</h2>
  </header>

  <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="start start">
    <ng-container *ngIf="historyVideos?.length; else noHistory">
      <div fxFlex="30%" *ngFor="let historyVideo of historyVideos">
        <app-video-card [video]="historyVideo"></app-video-card>
      </div>
    </ng-container>
  </div>

  <ng-template #noHistory>
    <p class="mat-body-1">You haven't watched any videos yet.</p>
  </ng-template>
</section>
